@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 20px;
}
#grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
}
footer {
    padding: 2em;
    /* padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px; */
    position: fixed;
    bottom: 1em;
    /* left: 20px; */
    background-color: orange;
    width:100%
}
img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    border: 1px solid black;
    background-color: green;
}
nav > a {
    color: white;
}
a {
    text-decoration: none;
}
a:hover {
    color: lightskyblue;
}

.second tr:nth-child(2n) {
    background-color: lightgray;
}
